@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --yellow: #ffc92f;
    --black: #1b1b1b;
    --titlesFont: 'Roboto', Arial, sans-serif;
    --titleYanone: 'Yanone Kaffeesatz', Arial, sans-serif;
}


html,
body {
    height: 100%;
}

.wrapper {
    overflow: hidden;
    min-width: 1440px;
}

body {
    background: #fcf5e6;
}

ul {
    list-style: none;
}

.one {
    background: url(./img/bg/hero.jpg) no-repeat center center;
}

header {
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 165px;
}


.header-guys {
  height: 180px;
  width: 517px;
  overflow: hidden;
  position: absolute;
  margin-left: 34%;
}


.header-guys__item {
    background: url(./img/decor/header-guys.png) center center / contain no-repeat;
    padding-bottom: 100px;
    position: relative;
}

.header-text {
    font-family: "alegreya", sans-serif;
    font-size: 29px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 33px;
}

.header-text__word {
    background: #212121;
    color: #ffffff;
    padding: 3px 10px 5px;
    margin-top: -7px;
    white-space: nowrap;
}

.header-text__word--color-yellow {
    color: #ffbc2f;
}

.header-text__word:nth-child(2n) {
    margin-left: 5px;
}


.mail{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin-right: 165px;
}

.mail__title {
    margin-bottom: 3px;
    color: #212121;
}

.mail__content {
    background: #212121;
    color: #ffbc2f;
    padding: 5px 40px ;
}

.products {
    margin: 87px auto;
    display: flex;
    width: 1080px;
    height: 647px;
}

.products__tshirts {
    display: flex;
    width: 534px;
    height: 647px;
    margin: 0;
}

.products__content {
    background: #ffc92f;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.products__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 88px 10px;
}


.products__desc {
    display: block;
    position: relative;
    width: 556px;
    border: solid #ffc92f 10px;
}

.text-one {
    margin-left: 28px;
}

.hurley {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #fcba2e;
    font-weight: bold;
}

.ram {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 47px;
    color: #1b1b1b;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}



.products__price {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 38px;
    font-weight: bold;
    background: #ffc92f;
    display: inline-block;
    padding: 3px 16px;
    color: #212121;
}

.text_info {
    list-style-type: none;
    font-family: var(--titlesFont);
    margin-left: -5px;
    font-size: 13px;
    color: var(--black);
    margin: 25px auto;
}

.transfers_desc {
    line-height: 2;
}

.btn {
    display: inline-block;
    border: #dfd9c7 solid 2px;
    width: 45px;
    text-align: center;
    padding: 14px 0;
    margin: 1px;
}

.btn__link {
    font-family: var(--titlesFont);
    font-size: 15px;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    text-align: center;
    display: block;
}

.btn--active {
    background: var(--yellow);
    border: var(--yellow) solid 2px;
}

.btn--no-active {
    color: #cac3b3;
    display: inline-block;
    border: #dfd9c7 solid 2px;
    width: 45px;
    text-align: center;
    padding: 14px 0;
    margin: 1px;
    
}

.knop {
    margin: 40px;
}

.bord {
    display: inline-block;
    margin-right: 8px;
    width: 27px;
    height: 27px;
}


 
.bord--active {
    border-radius: 50%;
    border: 2px solid var(--yellow);
    height: 27px;
    width: 27px;
    background: rgba(205, 214, 219, 0.0);
}

.dot {
    border-radius: 50%;
    display: inline-block;
    transform: translate(8% , 9%);
}

.dot--active {
    border-radius: 50%;
    border: var(--yellow) solid;
    outline-offset: 4px;
}

.clrs-black {
    height: 23px;
    width: 23px;
    background-color: #2f2c25;
}

.clrs-white {
    height: 21px;
    width: 21px;
    background-color: #fcf5e6;
    border: 1px solid #dfd9c7;
}

.clrs-green {
    height: 23px;
    width: 23px;
    background-color: #529029;
}

.clrs-blue {
    height: 23px;
    width: 23px;
    background-color: #39498d;
}
.clrs-red {
    height: 23px;
    width: 23px;
    background-color: #d82727;
}

.btn__buy {
    text-decoration: none;
    padding: 10px 68px 8px;
    margin: 40px;
    background: #232323;
    color: var(--yellow);
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn__buy:hover {
    color: #ffffff;
    background: #d82727;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter__item {
    margin-right: 40px;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__link {
    padding: 9px 20px;
    font-family: var(--titleYanone);
    font-size: 23px;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.filter__link:hover {
    color: #db3635;
}


.filter__item--active .filter__link {
    color: var(--yellow);
    background: var(--black);
}

.content__list {
    width: 1080px;
    margin: 87px auto;
    padding: 0;
    display: flex;
}

.descri {
    display: flex;
    height: 275px;
    border: var(--yellow) 10px solid;
    width: 1080px;
    }

.icon__desc {
    display: block;
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 40px;
}

.icons {
    position: relative;
}

.icon__img {
    width: 26px;
    height: 25px;
}

.icon__text {
    display: inline-block;
    margin-top: 0;
    font-family: var(--titlesFont);
    font-size: 13px;
}


.thrt {
    display: block;
    border-left: 1px solid #e5dece;
    padding-top: 40px;
    padding-left: 46px;
    font-family: var(--titlesFont);
    font-size: 13px;
    color: var(--black);
}

.table {
    display: flex;
    height: 434px;
    border: var(--yellow) 10px solid;
    width: 1080px;
    padding: 0;
}


.manual {
    display: block;
    padding: 41px 52px 48px 52px;
}

.size__img {
    width: 228px;
    height: 206px;
    display: flex;
}

.size__text {
    font-family: var(--titlesFont);
    font-size: 12px;
    color: var(--black);
}

table {
    border-collapse: collapse;
}

.table-size {
    display: block;
    border-left: 1px solid #e5dece;
}

.tshirts-size {
    border: 1px solid #e5dece;
    width: 744px;
    height: 434px;
}

.m {
    font-family: var(--titlesFont);
    font-size: 14px;
    font-weight: bold;
    width: 157px;
    height: 60px;
    padding-top: 16px;
    background: #f6efe0;
}

td {
    text-align: center;
    font-family: var(--titlesFont);
    border: 1px solid #e5dece;
    font-size: 12px;
    width: 72px;
}

th {
    padding-left: 16px;
    border-right: 2px double #e5dece;
}

.delivery {
    display: flex;
    height: 240px;
    border: var(--yellow) 10px solid;
    width: 1080px;
    padding: 0;
}

.delivery__logo {
    width: 337px;
    display: block;
}

.div__logo {
    padding: 40px 75px;
}


.div__text {
    font-size: 14px;
}

.brand {
    display: flex;
    height: 209px;
    border: var(--yellow) 10px solid;
    width: 1080px;
    padding: 0;
}

.harley__logo {
    padding: 58px 67px;
    width: 224px;
    height: 53px;
}

.footer {
    margin-bottom: 80px;
}

.footer__container {
    width: 1100px;
    margin: 87px auto;
}

.site-menu {
    margin-bottom: 115px;
}

.site-menu__sections {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.site-menu__col {
    margin-right: 20px;
}

.site-menu__col:last-child {
    margin-right: 0px;
}

.site-menu__title {
    font-family: var(--titleYanone);
    font-size: 23px;
    font-weight: bold;
    color: #232323;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site-menu__link:hover {
    color: #d82727
}

.site-menu__text {
    font-size: 15px;
    color: #1b1b1b;
    text-decoration: none;
    margin-bottom: 30px;
}

.site-menu__text-row {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.site-menu__list {
    padding: 0;
}

.extras {
    display: flex;
    margin-bottom: 95px;
}

.extras__col {
    margin-right: 20px;
    flex: 1;
}

.extras__col:last-child {
    margin-right: 0;
}

.extras__best {
    text-align: center;
    color: #fff;
    background: #232323;
    font-size: 47px;
    font-weight: bold;
    font-family: var(--titleYanone);
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras__col-socials {
    height: 100%;
    background: url(./img/bg/pattern.png) center center / 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
}

.socials__item {
    margin-right: 50px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    width: 38px;
    height: 38px;
    display: block;
}

.socials__link:hover .socials__icon {
    fill: #d82727;
}

.socials__icon {
    width: 100%;
    height: 100%;
}